<div id="main" class="uk-navbar-container uk-sticky uk-sticky-fixed uk-active">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo">
                    <img src="{{ 'assets/images/favicon-white48.png' | absolute_url}}" alt="The Angel Framework"></a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a target="_blank" href="https://github.com/angel-dart/angel">
                            <span uk-icon="icon: github"></span>
                            &nbsp; Github
                        </a>
                    </li>
                    <li><a target="_blank" href="https://github.com/angel-dart/angel/wiki">Docs</a></li>
                    <li><a target="_blank" href="http://www.dartdocs.org/documentation/angel_common/latest">API Reference</a></li>
                </ul>
                <a style="color: white;" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon" uk-navbar-toggle-icon uk-icon="icon: toggle" href="#offcanvas"></a>
            </div>
        </nav>
    </div>
</div>