<div id="offcanvas">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div class="uk-panel">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">
                    <a href="/">Home</a>
                </li>
                {% for page in site.html_pages %}
                    {% if page.url != "/" %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a target="_blank" href="https://github.com/angel-example">Examples</a></li>
                <li><a target="_blank" href="http://www.dartdocs.org/documentation/angel_common/latest">API
                    Reference</a></li>
                <li>
                    <a target="_blank" href="https://gitter.im/angel_dart/discussion">
                        <span uk-icon="icon: gitter"></span>
                        &nbsp; Gitter Chat
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>