#big-buttons .uk-button {
    border-radius: 500px;
}

#main, .main {
    /*background: linear-gradient(to left, #28a5f5, #1e87f0);*/
    background: linear-gradient(to left, #ff533e, #c70010);
    color: white;
}

#offcanvas>.uk-offcanvas-bar {
    background-color: white;
}

:not(pre)>code {
    color: #f0506e !important;
}

.content h1, .content h2 {
    color: #333 !important;
}

html, body {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.content {
    background-color: white;
    color: #666 !important;
    padding: 1em;
}

.content a {
    color: #1e87f0 !important;
}

.uk-navbar-nav>li>a {
    color: rgba(255,255,255,0.8);
}

.uk-subnav>*>:first-child {
    color: white;
}

.uk-navbar-nav>li:hover>a {
    color: white;
}

.uk-offcanvas-close {
    color: #666 !important;
}

.uk-nav-default .uk-nav-header {
    color: #333 !important;
}

.uk-nav-default>li>a {
    color: #999 !important;
}