<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="main">
    {% include header.html %}
    <div class="uk-section uk-section-primary main">
        <div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center"
            style="box-sizing: border-box;">
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <p><img src="{{ 'assets/images/logo-white.png' | absolute_url}}"></p>
                    <p class="uk-margin-medium uk-text-lead">
                        A scalable, full-featured, full-stack framework in Dart.
                    </p>
                    <div id="big-buttons" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid" uk-grid>
                        <div class="uk-first-column">
                            <a href="./get-started" class="uk-button uk-button-primary tm-button-primary uk-button-large tm-button-large uk-visible@s">
                                Get Started
                            </a>
                            <a href="./get-started" class="uk-button uk-button-primary tm-button-primary uk-hidden@s">
                                Get Started
                            </a>
                        </div>
                        <div>
                            <a href="https://github.com/angel-dart/angel/wiki" class="uk-button uk-button-default uk-button-large tm-button-large uk-visible@s">
                                Docs
                            </a>
                            <a href="https://github.com/angel-dart/angel/wiki" class="uk-button uk-button-default uk-hidden@s">
                                Docs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-small">
            <div class="uk-container uk-container-expand uk-text-center uk-position-relative">
                <ul uk-margin class="uk-subnav tm-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom">
                    <li class="uk-first-column">
                        <span>
                        Version
                            <span uikit-version>1.0.0</span>
                        </span>
                    </li>
                    <li>
                        <a href="https://github.com/angel-dart/angel/stargazers">
                            <span uk-icon="icon: star" class="uk-margin-small-right uk-icon"></span>
                            <span uikit-stargazers></span> Stars
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AngelFramework" class="uk-text-lowercase">
                            <span uk-icon="icon: twitter" class="uk-margin-small-right uk-icon"></span> @AngelFramework
                        </a>
                    </li>
                    <li>
                        <a href="https://gitter.im/angel-dart/discussion">
                            <span uk-icon="icon: gitter" class="uk-margin-small-right uk-icon"></span> Chat
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include scripts.html %}
    <script>
        $(function () {
            fetch('https://api.github.com/repos/angel-dart/angel').then(function (res) {
                return res.json();
            }).then(function (repo) {
                $('[uikit-stargazers]').text('' + repo.stargazers_count);
            });
        });
    </script>
</body>

</html>