<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    <nav id="main" class="uk-navbar-container" uk-navbar>
        <div class="uk-container uk-container-expand">
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item uk-logo">
                    <img src="{{ "assets/images/favicon-white48.png " | absolute_url}}" alt="The Angel Framework"></a>
            </div>
        </div>
    </nav>
    {% include scripts.html %}
</body>

</html>